<section>
    <h2>Liste des exoplanètes</h2>
    {{>exoplanetsTable}}
</section>

<section>
    <h2>Ajouter une Exoplanète découverte</h2>
    {{>exoplanetsCreateForm}}
</section>

<section>
    <h2>Recherche d'une Exoplanète déjà découverte</h2>
    {{>exoplanetsSearch}}
</section>