<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Site des Exoplanètes</title>
    <link rel="stylesheet"
          href="/stylesheets/normalize.css">
    <link rel="stylesheet"
          href="/stylesheets/style.css">
    <link href="/images/venus.ico" rel="icon" type="image/x-icon"/>
</head>
<body>

<header class="nav-header">{{>header}}</header>

<main>
    {{{body}}}
</main>

<footer>{{>footer}}</footer>

</body>
</html>